.cart {
  position: fixed;
  bottom: 2px; 
  left: 50%; 
  width:88.5%;
  height:60px;
  transform: translateX(-50%); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px;
  border-radius: 10px;
  background-color:black; 
  border:1px solid #b49c7c;
  color:#e0e0e0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); 
  z-index: 100000; 
}
.cart-info{
  display: flex;
  align-items: center;
  width: 100%;
justify-content: space-between;
}
.cart-details{
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}
.item-count, .total-price {
  font-size: 16px;
  margin-right: 10px;
}

.separator {
  margin: 0 5px;
}

.view-cart-button {
  /* background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: auto; */
  background: #7f6d64;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: .9rem;
  font-weight: 600;
  padding: .5rem 1.3rem;
}


/* .cart-image-container {
  position: relative;
}

.cart-image {
  width: 90%; 
  height: auto; 
} */

/* .item-count {
  position: absolute;
  top: -10px; 
  right: -30px; 
  background-color:white; 
  color:black; 
  border-radius: 50%;
  width: 25px; 
  height: 25px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; 
} */

@media (max-width: 768px) {
  .cart {
    width: 95%; 
    padding: 8px; 
  }

  .cart-image {
    width: 80%; 
  }

  .item-count-badge {
    top: -8px; 
    right: -20px; 
    width: 20px; 
    height: 20px; 
    font-size: 12px; 
  }
}


@media (max-width: 480px) {
  .cart {
    width: 100%; 
    padding: 6px; 
  }

  .cart-image {
    width: 70%; 
  }

  .item-count-badge {
    top: -6px; 
    right: -15px; 
    width: 18px; 
    height: 18px; 
    font-size: 10px; 
  }
}