 body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
     width: 100%;
     padding: 20px;
     box-sizing: border-box;
}
 .container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    min-width: 120px;
}
.container img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc; 
    padding: 5px; 
    transition: transform 0.2s ease-in-out;
}
.container img:hover {
    transform: scale(1.1); 
    
}
.container h4 {
    margin-top: 10px;
    font-size: 16px; 
    color:white;
    text-align: center;
}
.container hr {
    width: 100%;
    border: 0;
    border-top: 1px solid white; 
    margin-bottom:10px; 
}  
.arrow {
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 10px;
}

.left {
    margin-right: 15px;
}

.right {
    margin-left: 10px;
}
.react-horizontal-scrolling-menu--inner-wrapper {
    display: flex;
    flex-direction: row;
}
.react-horizontal-scrolling-menu--item-wrapper {
    display: inline-flex;
   
}
.react-horizontal-scrolling-menu--scroll-container {
    display: flex;
    flex-direction: row;
    gap:70px;
    overflow-x: auto; 
    white-space: nowrap;
}
.react-horizontal-scrolling-menu--item {
    flex: 0 0 auto;
    width: calc(100% / 3 - 20px); 
    margin-right: 10px; 
    padding: 10px; 
    border-radius: 8px; 
    display: flex; 
    align-items: center;
}

.react-horizontal-scrolling-menu--item img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 1px solid #ccc; 
    padding: 5px; 
    transition: transform 0.2s ease-in-out;
}

.react-horizontal-scrolling-menu--item h4 {
   margin-left: 10px; 
    font-size: 15px; 
    color: white; 
    text-align:left; 
    flex: 1; 
    
}